ALTER TABLE users ADD COLUMN role ENUM('super_admin', 'admin', 'moderator', 'developer', 'viewer') NOT NULL DEFAULT 'super_admin', ADD COLUMN status ENUM('active', 'inactive') NOT NULL DEFAULT 'active', ADD COLUMN parent_id INT UNSIGNED DEFAULT NULL, ADD COLUMN force_password_change TINYINT(1) NOT NULL DEFAULT 0, ADD CONSTRAINT fk_users_parent FOREIGN KEY (parent_id) REFERENCES users(id) ON DELETE SET NULL;
